<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，其作用是对sql进行分类化管理，理解sql隔离
 注意使用namespace代理方法开发，namespace有特殊的含义，namespace与mapper接口的全类名相等
 -->
<mapper namespace="com.markliu.mybatis_advance.mapper.ItemsMapper">

    <!-- 插入测试数据 -->
    <insert id="insertItems" parameterType="com.markliu.mybatis_advance.domain.po.Items" >
        INSERT INTO items(name, price, picture, createtime, detail) VALUES (#{name}, #{price}, #{picture}, #{createtime}, #{detail})
    </insert>

</mapper>