<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.markliu.mybatis_advance.mapper.OrderdetailMapper">

    <!-- 插入测试数据 -->
    <insert id="insertOrderdetail" parameterType="com.markliu.mybatis_advance.domain.po.Orderdetail" >
        INSERT INTO order_detail(orders_id, items_id, itemsNum) VALUES (#{ordersId}, #{itemsId}, #{itemsNum})
    </insert>

</mapper>